﻿@model IgnitisTask.Models.RegistrationDTO
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2 class="center">Registracijos Požymiai</h2>
        </div>

        @{
            string message = ViewBag.ErrorMessage;
            if (message != null && message.Length > 0)
            {
                <div class="row">
                    <h2 class="center">Error: @message</h2>
                </div>
            }
        }

        @{
            if (Model != null && Model.Attributes != null && Model.Attributes.Any())
            {
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Registracijos požymiai
                                </th>
                                <th>
                                    Reikšmė
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Attributes.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Attributes[i].Name)
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Attributes[i].IsDropdown)
                                            {
                                                @Html.HiddenFor(m => m.Id, Model.Id);
                                                @Html.HiddenFor(m => m.Attributes[i].Id, Model.Attributes[i].Id);

                                                @Html.DropDownListFor(m => m.Attributes[i].SelectedOptionId, new SelectList(Model.Attributes[i].Options, "Id", "Value", Model.Attributes[i].SelectedOptionId),
                                                new { @class = "form-control disableSelector", disabled = "disabled" })
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-large" id="edit">Koreguoti požymius</button>
                                <button type="submit" asp-action="SaveChanges" class="btn btn-primary btn-large disableSelector" id="save" disabled>Saugoti pataisymus</button>
                                <button type="button" class="btn btn-primary btn-large disableSelector" id="cancel" disabled>Atšaukti pataisymus</button>
                            </div>
                        </div>
                    </div>
                    <p>
                        <a asp-controller="Home" asp-action="Index">Grįžti atgal</a>
                    </p>
                </div>
            }
        }

    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {
        //
    });

    $("#edit").click(function () {
        dropdownDisabledVisibilitye(false);
    });

    $("#cancel").click(function () {
        location.reload();
    });

    function dropdownDisabledVisibilitye(status) {
        var elements = document.getElementsByClassName("disableSelector");
        for (var i = 0; i < elements.length; i++) {
            elements[i].disabled = status;
        }
    }
</script>


