﻿@model IEnumerable<IgnitisTask.Models.RegistrationDTO>

@{
    ViewData["Title"] = "Index";
}

<h2>Registracijos</h2>

<div class="container-fluid body-content">
    @{
        foreach (var registration in @Model)
        {
            <div class="row">
                <a asp-action="Details" asp-route-id="@registration.Id">
                    @Html.Label("label", registration.Name);
                </a>
            </div>
        }
    }
</div>           
